.collapse{
display: flex;
justify-content: space-between;
}

.imggif{
    display: flex;
    justify-content: space-between;

}

.containerchild2 {
  margin-bottom: 10px;
  box-shadow: 4px 4px 10px black;

}
.containerchild2>img {
  width: 100%;
  border-radius: 10px;
}


.containerchild2>img:hover {
  filter: grayscale(0.5);
  box-shadow: 0 0 0;
  transition: 400ms;
  cursor: pointer;
}
.cart{
   
   
}
.pay1{
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 500px;
    margin: auto;
}
.gpay{
    margin-top: 150px;
}
.checkcart{
    width: 800px;
    display: flex;
    justify-content: flex-end;

}



.banner{
  margin-top: 1%;
}
.prev,
.prev + p {
  position: absolute;
  bottom: 250px;
  font-size: 50px;
}
.prev {
  left: 3%;
}
.prev + p {
  left: 95%;
}
.details{
  margin-bottom: 10px;

}
.details>img{
  width: 70%;
  border-radius: 10px;
  box-shadow: 4px 4px 10px black;

}
.details>img:hover{
  filter: grayscale(0.5);
  box-shadow: 0 0 0;
  transition: 400ms;
  cursor: pointer;
}
.added-item{
  margin-bottom: 10px;
}

.added-item>img{
  width: 70%;
  border-radius: 10px;
  box-shadow: 4px 4px 10px black;

}
.added-item>img:hover{
  filter: grayscale(0.5);
  box-shadow: 0 0 0;
  transition: 400ms;
  cursor: pointer;
}