*{
  font-family: Questrial,sans-serif;

}

.collapse{
display: flex;
justify-content: space-between;
}

.imggif{
    display: flex;
    justify-content: space-between;

}


.containerchild2 {
  margin-bottom: 10px;
  box-shadow: 4px 4px 10px black;


}
.containerchild2:hover {
  transform: translateY(-10px);
  transition: all 0.3s ease;
}
.containerchild2>img {
  width: 100%;
  border-radius: 10px;
}

.containerchild2>img:hover {
  filter: grayscale(0.5);
  box-shadow: 0 0 0;
  transition: 400ms;
  cursor: pointer;
}
.logbtn{
  margin-left: 50px;
}
.logname{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  
}
.logname>h3{
  margin-left: 10px;
}
.product_card__title {
  font-weight: 700;
  font-size: 18px;
}
.product_card__price {
  font-weight: 600;
  font-size: 17px;
  padding: 0.2rem 0;
  color: #353535;
}
.pay1{
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 500px;
    margin: auto;
}
.gpay{
    margin-top: 150px;
}
.checkcart{
    width: 800px;
    display: flex;
    justify-content: flex-end;

}
.displaytitle,.displayprice{
  font-size: 20px;
}
.lead{
  font-size: 18px;
}


.inputclass {
  
  display: flex;
  background: hsla(0, 0%, 100%, .25);
  border: 1px solid transparent;
  border-radius: 3px;
  width: 40%;
  outline: 0 none;
  opacity: .8;
  min-height: 36px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .4px;
  color: #fff;
  text-shadow: inherit;
  -webkit-text-fill-color: inherit;



}

input {
  /* margin-top: 20px; */
  background: hsla(0, 0%, 100%, .25);
  border: 1px solid transparent;
  border-radius: 3px;
  width: 100%;
  outline: 0 none;
  opacity: .8;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .4px;
  color: white;
  text-shadow: inherit;
  -webkit-text-fill-color: inherit;
}

.banner{
  margin-top: 1%;
}
.prev,
.prev + p {
  position: absolute;
  bottom: 250px;
  font-size: 50px;
}
.prev {
  left: 3%;
}
.prev + p {
  left: 95%;
}
.details{
  margin-bottom: 10px;

}
.details>img{
  width: 70%;
  border-radius: 10px;
  box-shadow: 4px 4px 10px black;

}
.details>img:hover{
  filter: grayscale(0.5);
  box-shadow: 0 0 0;
  transition: 400ms;
  cursor: pointer;
}
.added-item{
  margin-bottom: 10px;
}

.added-item>img{
  width: 70%;
  border-radius: 10px;
  box-shadow: 4px 4px 10px black;

}
.added-item>img:hover{
  filter: grayscale(0.5);
  box-shadow: 0 0 0;
  transition: 400ms;
  cursor: pointer;
}
.payment{
  margin: auto;
}

.back{
  float: right;
}

.span1{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #a5d858;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}


 .span1:hover{
  background: #3a530f;
}
.backbtn{
  margin-top: 30px;
}


.navright{
  width: 450px;
  display: flex;

}
